html, body
{
	background-color: black;
	height: 98%;
	width: 98%;

}


h3 {color:white;
	font-family:Courier;
	font-size: 40px;
	height: 15%;
	user-select: none;
	text-align: center;
}


#mySVGCanvas {
	background-image: url("http://i.imgur.com/8mQtOWB.jpg");
	background-size: 90%;
	border: 1px solid white;
	width: 800px; 
	height: 394px;
	margin: auto;




}




